{% extends "_base.html" %}
{% block content %}
<!DOCTYPE html>

<html>

<head>
    <title>Gael's Coffee Shoppe | Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="stylesheet" type="text/css" href="myStyle.css"/>

</head>

<body>

<!-- insert image of our building this is an html comment -->

<div>

    
<p id="mainmenu"><a href="default.html">HOME</a> | <a href="products.html">PRODUCTS</a> | <a href="staff.html">OUR STAFF</a> | <a href="contactUs.html">CONTACT</a>


    <h1>Welcome to Gaels's Coffeee Shoppe</h1>
    <hr/>



    <p class="mainpic"><img src="images/newCoffee.png" alt="Simple coffee mug icon with thick silver outlines"
                            title="Mmmm...Coffee!"/></p>


    <p>Our coffee is awesome and we are sure you will enjoy it. We have several locations in the <span class="city">Olympia</span>
        area. We also have a stores in <span class="city">Tumwater</span> and our headquarters is located in the
        sprawling metropolis <span class="city">Lacey</span>. Please come by and visit us. We have been open since 2005
        and now we have a snazzy little website...YAY!! If you enjoy coffee then you will enjoy ours better. I'm running
        out of things to say so I'm randomly typing out words. I will start typing random tags and attributes next.</p>


    <h2>About our team</h2>

    <p>We are a small team dedicated to meeting all of your caffeine and pastry needs. We love coffee and so should you
        so come by and say hi. Our coffee is probably better than yours...and it will wake you up.</p>

    <h2>Our Coffee</h2>

    <p>We sell a bunch of rad coffee and pastries.</p>

    <h3>Making Coffee</h3>

    <ul>
        <!-- attribute:  <ol start="2" type="A"> to have a lettered list-->
        <!-- <ol> == numbered list; <ul> == bulleted list -->


        <li>Buy coffee - lots and lots of it</li>
        <li>Grind your coffee</li>
        <li>Set up your coffee machine</li>
        <li>Use cool clean water</li>
        <li>Drink it black</li>
        <li>ENJOY IT</li>


    </ul>


    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <p>Please <a href="mailto:jcue@gmail.com">email us</a> if you have questions</p>
    <hr/>

    <a class="button" href="/">Click me to access login</a>

    <p id="footer"> All content copyright &copy 2015, Rad Coffee&trade; USA</p>

</div>

</body>


</html>

{% endblock %}