body {
  padding: 60px 0;
  background: #ffffff;
}

.footer {
 padding-top: 30px;
}

.error {
  color: red;
  font-size: .8em;
}

.navbar-inverse .navbar-brand {
    color: silver;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}
